<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>

  {% include sidebar.html %}

  <div class="wrap">
    <div class="masthead">
      <div class="container">
        <h3 class="masthead-title">
          <small>{{ site.tagline }}</small>
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title | upcase }}</a>
        </h3>
      </div>
    </div>

    <div class="welcome responsive_block">
    
    Raviolist is outdated and now replaced with <a href="http://lukafaxx.github.io/sflist/">/SFLIST/</a>.<br />
    Thank you for your support!
    
    </div>

    <br />
    <br />

    {{ content }}
      
  </div>

  <label for="sidebar-checkbox" class="sidebar-toggle"></label>

  <script>
    (function(document) {
      var toggle = document.querySelector('.sidebar-toggle');
      var sidebar = document.querySelector('#sidebar');
      var checkbox = document.querySelector('#sidebar-checkbox');

      document.addEventListener('click', function(e) {
        var target = e.target;

        if(!checkbox.checked ||
           sidebar.contains(target) ||
           (target === checkbox || target === toggle)) return;

        checkbox.checked = false;
      }, false);
    })(document);
  </script>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/jquery.replaceInput.js"></script>
  <script src="{{ site.baseurl }}/jquery.mCustomScrollbar.concat.min.js"></script>

  <script>
  function isMobile() {
    return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
  }

  if (!isMobile()) {
    (function($){
        $(window).load(function(){
            $(".sidebar").mCustomScrollbar({
              theme:"minimal",
            });
        });
    })(jQuery);
  }
  </script>

</body>
</html>
