---
layout: page
---

{% assign game = page.permalink | remove: '/' %}
{% assign gamechar = site.data[game]._characters %}

<div class="roster">

{% for char in gamechar %}
  {% if char.status != 'todo' %}
    <a class="roster-item" href="{{ site.baseurl }}/{{ game }}/{{ char.name | downcase | remove: '.' | remove: '-' | remove: ' ' }}/">{{ char.name }}</a>
  {% else %}
    <span class="roster-item todo">{{ char.name }}<a href="{{ site.baseurl }}/contribute/">contribute</a></span>
  {% endif %}
{% endfor %}

</div>
