---
layout: page
---

{% assign game = page.permalink | remove: '/' %}
{% assign gamechar = site.data[game]._characters %}

<div class="roster">

{% for char in gamechar %}
  {% if char.status != 'todo' %}
  <div class="roster-item">
    <a href="{{ site.baseurl }}/{{ game }}/{{ char.name | downcase | remove: '.' | remove: '-' | remove: ' ' }}/">{{ char.name }}</a>
  </div>
  {% else %}
  <div class="roster-item todo">
    {{ char.name }} <span><a href="{{ site.baseurl }}/contribute/">contribute</a></span>
  </div>
  {% endif %}
{% endfor %}

</div>
