---
layout: default
---

<div class="page">

{% assign mainchicken = page.permalink | remove: '/ggxrd/' | remove: '/' %}
{% for chara in site.data.ggxrd[mainchicken] %}

  <h1 class="page-title">{{ chara.character }}</h1>
  <span class="from_game">Guilty Gear Xrd -SIGN-</span>

  {% if chara.unique_attack != null %}
  <h2 class="move_cat"><span>Unique Attack</span></h2>
  {% for unique in chara.unique_attack %}
  <p class="move">
    <span class="move_name">{{ unique.name }}</span><br />
    <span class="move_input">{{ unique.input }}</span><br />
    <span class="move_note">{{ unique.note | join: ' &middot; ' }}</span>
  </p>
  {% endfor %}
  <br />
  {% endif %}

  <h2 class="move_cat"><span>Special Attack</span></h2>
  {% for special in chara.special_attack %}
  <p class="move">
    <span class="move_name">{{ special.name }}</span><br />
    <span class="move_input">{{ special.input }}</span><br />
    <span class="move_note">{{ special.note | join: ' &middot; ' }}</span>
  </p>
  {% endfor %}
  <br />

  <h2 class="move_cat"><span>Overdrive Attack</span></h2>
  {% for overdrive in chara.overdrive_attack %}
  <p class="move">
    <span class="move_name">{{ overdrive.name }}</span><br />
    <span class="move_input">{{ overdrive.input }}</span><br />
    <span class="move_note">{{ overdrive.note | join: ' &middot; ' }}</span>
  </p>
  {% endfor %}

{% endfor %}

</div>
