---
layout: default
---

<div class="page">

{% assign mainchicken = page.permalink | remove_first: '/omega/' | remove: '/' %}
{% for chara in site.data.omega[mainchicken] %}

  <h1 class="page-title">{{ chara.character }}</h1>
  <span class="from_game">USF4 Omega Edition</span>

  <h2 class="move_cat"><span>Special Move</span></h2>
  {% for special in chara.special_move %}
  <p class="move">
    <span class="move_name">{{ special.name }}</span><br />
    <span class="move_input">{{ special.input }}</span><br />
    <span class="move_note">{{ special.note | join: ' &middot; ' }}</span>
  </p>
  {% endfor %}
  <br />

  <h2 class="move_cat"><span>Super Combo</span></h2>
  {% for super in chara.super_combo %}
  <p class="move">
    <span class="move_name">{{ super.name }}</span><br />
    <span class="move_input">{{ super.input }}</span><br />
    <span class="move_note">{{ super.note | join: ' &middot; ' }}</span>
  </p>
  {% endfor %}
  <br />

  <h2 class="move_cat"><span>Ultra Combo</span></h2>
  {% for ultra in chara.ultra_combo %}
  <p class="move">
    <span class="move_name">{{ ultra.name }}</span><br />
    <span class="move_input">{{ ultra.input }}</span><br />
    <span class="move_note">{{ ultra.note | join: ' &middot; ' }}</span>
  </p>
  {% endfor %}
  <br />

  <h2 class="move_cat"><span>Normal Throw</span></h2>
  {% for throw in chara.normal_throw %}
  <p class="move">
    <span class="move_name">{{ throw.name }}</span><br />
    <span class="move_input">{{ throw.input }}</span><br />
    <span class="move_note">{{ throw.note | join: ' &middot; ' }}</span>
  </p>
  {% endfor %}
  <br />

  <h2 class="move_cat"><span>Unique Attack</span></h2>
  {% if chara.unique_attack == null %}
  <p>This character has no unique attack.</p>
  {% endif %}
  {% for unique in chara.unique_attack %}
  <p class="move">
    <span class="move_name">{{ unique.name }}</span><br />
    <span class="move_input">{{ unique.input }}</span><br />
    <span class="move_note">{{ unique.note | join: ' &middot; ' }}</span>
  </p>
  {% endfor %}

{% endfor %}

</div>
